/* line 3, ../sass/screen.scss */
.pf-list {
  overflow: hidden;
  max-width: 400px;
}
/* line 8, ../sass/screen.scss */
.pf-list .placeholder {
  padding: 1em 0.5em;
  border-radius: 0.5em;
  border: 1px dashed #666;
  background: none;
}
/* line 15, ../sass/screen.scss */
.pf-list li {
  border: 1px solid #ccc;
  padding: 0.5em;
  border-radius: 0.5em;
  margin-bottom: 1em;
  background: #fff;
  list-style: none;
  cursor: move;
}
/* line 24, ../sass/screen.scss */
.pf-list li .add {
  display: none;
}
/* line 29, ../sass/screen.scss */
.pf-list li .edit:after {
  content: '|';
  display: inline-block;
  margin: 0 0.25em;
}

/* line 39, ../sass/screen.scss */
.pf-item nav {
  float: right;
}

/* line 44, ../sass/screen.scss */
.pf-add {
  float: right;
}

/* line 48, ../sass/screen.scss */
.pf-posts {
  background: #eee;
  padding: 1em;
  margin: 0.5em 0 1em 0;
  border-radius: 0.5em;
  border: 1px solid #ddd;
}

/* line 56, ../sass/screen.scss */
#pf-overlay {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
}

/* line 67, ../sass/screen.scss */
#pf-modal {
  display: none;
  width: 400px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  margin: -300px 0 0 -200px;
  background: #fff;
  border-radius: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 83, ../sass/screen.scss */
#pf-modal h1 {
  margin: 0 0 0.5em 0;
  line-height: 1;
  color: #666;
}
/* line 90, ../sass/screen.scss */
#pf-modal.loading ul {
  display: none;
}
/* line 94, ../sass/screen.scss */
#pf-modal.loading .content {
  background: url(../images/loading.gif) no-repeat center center;
}
/* line 99, ../sass/screen.scss */
#pf-modal .close {
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  opacity: 0.4;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial;
  text-shadow: 0 1px 0 #fff;
  font-size: 2em;
  line-height: 18px;
  position: absolute;
  right: 20px;
  top: 20px;
}
/* line 113, ../sass/screen.scss */
#pf-modal .close:hover {
  opacity: 0.2;
}
/* line 118, ../sass/screen.scss */
#pf-modal li {
  font-size: 1em;
  padding: 0.75em 1em;
  border-bottom: 1px solid #ccc;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
  background: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  background: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background: -o-linear-gradient(top, #ffffff, #eeeeee);
  background: linear-gradient(top, #ffffff, #eeeeee);
  margin: 0;
}
/* line 125, ../sass/screen.scss */
#pf-modal li:last-child {
  border: 0;
}
/* line 129, ../sass/screen.scss */
#pf-modal li .edit, #pf-modal li .remove {
  display: none;
}
/* line 134, ../sass/screen.scss */
#pf-modal ul {
  padding: 0;
  margin: 0;
  background: #eee;
}
/* line 140, ../sass/screen.scss */
#pf-modal .content {
  overflow-y: scroll;
  width: 360px;
  height: 480px;
  /*@include box-shadow(inset 0 0 5px rgba(0, 0, 0, 0.5));*/
  border: 1px solid #ccc;
  margin-top: 30px;
}
/* line 149, ../sass/screen.scss */
#pf-modal .search {
  background: #fff;
  margin-top: 20px;
}
/* line 153, ../sass/screen.scss */
#pf-modal .search input[type=text] {
  width: 80%;
}

/* line 161, ../sass/screen.scss */
.loading .spinner {
  display: inline-block;
}
