@import "compass/css3";

.pf-list {
	
	overflow: hidden;
	max-width: 400px;

	.placeholder {
		padding: 1em 0.5em;
		border-radius: 0.5em;
		border: 1px dashed #666;
		background: none;
	}

	li {
		border: 1px solid #ccc;
		padding: 0.5em;
		border-radius: 0.5em;
		margin-bottom: 1em;
		background: #fff;
		list-style: none;
		cursor: move;

		.add {
			display: none;
		}

		.edit {
			&:after {
				content: '|';
				display: inline-block;
				margin: 0 0.25em;
			}
		}
	}
}

.pf-item {
	nav {
		float: right;
	}
}

.pf-add {
	float: right;
}

.pf-posts {
	background: #eee;
	padding: 1em;
	margin:0.5em 0 1em 0;
	border-radius: 0.5em;
	border:1px solid #ddd;
}

#pf-overlay {
	display: none;
	background: rgba(0, 0, 0, 0.5);
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left: 0;
	z-index: 90;
}

#pf-modal {

	display: none;
	width: 400px;
	height: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 100;
	margin: -300px 0 0 -200px;
	background: #fff;
	border-radius: 1em;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	padding: 20px;
	@include box-sizing(border-box);

	h1 {
		margin: 0 0 0.5em 0;
		line-height: 1;
		color: #666;
	}

	&.loading {
		ul {
			display: none;
		}

		.content {
			background: url(../images/loading.gif) no-repeat center center;
		}
	}

	.close {
		font-weight: bold;
		text-transform: uppercase;
		color: #000;
		opacity: 0.4;
		cursor: pointer;
		font-family: "Helvetica Neue", Helvetica, Arial;
		text-shadow: 0 1px 0 #fff;
		font-size: 2em;
		line-height: 18px;
		position: absolute;
		right: 20px;
		top: 20px;

		&:hover {
			opacity: 0.2;
		}
	}

	li {
		font-size: 1em;
		padding: 0.75em 1em;
		border-bottom: 1px solid #ccc;
		@include background(linear-gradient(top, #fff, #eee));
		margin: 0;

		&:last-child {
			border: 0;
		}

		.edit, .remove {
			display: none;
		}
	}

	ul {
		padding: 0;
		margin: 0;
		background: #eee;
	}

	.content {
		overflow-y: scroll;
		width: 360px;
		height: 480px;
		/*@include box-shadow(inset 0 0 5px rgba(0, 0, 0, 0.5));*/
		border: 1px solid #ccc;
		margin-top: 30px;
	}
	
	.search {
		background: #fff;
		margin-top: 20px;

		input[type=text] {
			width: 80%;
		}
	}

}


.loading .spinner {
	display: inline-block;
}